/* P A N E L */

#tag-menu-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0px;
    max-width: 0px;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    /* transition: max-width 200ms linear; */
}

#tag-menu-panel.tag-menu-visible {
    /* max-width: 250px; */
    max-width: none;
    min-width: 250px;
}

#tag-menu-header {
    display: flex;
    flex-direction: row;
    background-color: rgb(55, 55, 55);
    padding: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: space-between;
}

#tag-menu-body {
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: hidden;
}

#tag-menu-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 8px;
    background-color: rgb(61, 60, 60);
    justify-content: space-between;
}

.btn-create-tag,
.btn-delete-tag,
.btn-save-tag {
    font-size: 16px;
    color: white;
    padding: 3px 10px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
}

.btn-create-tag {
    background-color: rgb(58, 179, 60);
}

.btn-delete-tag{
    background-color: rgb(220, 106, 71);
}

.btn-save-tag {
    background-color: rgb(116, 162, 247);
}

#tag-menu-title {
    font-weight: bold;
    text-align: center;
}

#btn-tag-menu-back {
    visibility: hidden;
}

#btn-tag-menu-back.visible {
    visibility: visible;
}


input[type=checkbox] {
    accent-color: rgb(178, 178, 229);

}

#tag-menu-selector {
    /* max-width: 280px; */
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 200px;
}

/*   T A G   M E N U   S E L E C T O R   */

#tag-menu-selector ul {
    list-style: none;
    margin-left: 10px;
}

/* #tag-menu-selector ul:first-child {
    margin-top: 5px;
    margin-bottom: 10px;
} */

#tag-menu-selector ul:not(:first-child) {
    max-height: 0px;
    overflow-y: hidden;
    transition: max-height 200ms ease-out;
}

#tag-menu-selector ul .unfolded:not(:first-child) {
    max-height: 500px;
}

#tag-menu-selector li {}

.tag-menu-item-row {
    white-space: nowrap;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    align-items: center;
}

.tag-menu-item-row>i.ic-edit {
    padding: 3px;
}

/* C H E C K B O X */

#tag-menu-selector input[type=checkbox] {
    cursor: pointer;
}

#tag-menu-selector .invisible {
    visibility: hidden;
}

/* L A B EL */

#tag-menu-selector label {
    display: inline-block;
    color: white;
    padding: 4px 16px;
    margin: 2px 0px;
    margin-left: 4px;
    border-radius: 2px;
    text-shadow: 0 0 4px #2a2a2a;
    min-width: 160px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

#tag-menu-selector label.selected {
    outline: 2px solid white;
}

#tag-menu-selector input[type=checkbox]:not(:checked)+label:hover {
    filter: contrast(40%);
}

#tag-menu-selector label:active {
    /* filter: contrast(70%) brightness(115%) !important; */
}

#tag-menu-selector label.collapser::after {
    content: '▲';
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
}

#tag-menu-selector label.arrow-down::after {
    content: '▼';
}

#tag-menu-selector input[type=checkbox]:not(:checked)+label {
    filter: contrast(50%) saturate(70%);
}

#tag-menu-selector input[type=checkbox]:checked+label {
    filter: contrast(70%) brightness(110%);
}

/* Editor */

#tag-menu-editor-container {
    height: 100%;
    padding: 10px 15px;
}

#tag-menu-editor-form {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

/* Label */

#tag-menu-editor-form label {
    color: rgb(206, 206, 206);
    font-size: 14px;
    font-weight: bold;
}

#tag-menu-editor-form input[type=text] {
    background-color: #282E33;
    border: 1px solid #3D4750;
    color: white;
    padding: 4px;
    border-radius: 2px;
    font-size: 16px;
    text-align: center;
}

#tag-menu-editor-form input[type=text]:focus {
    outline: 1px solid lightblue;
}

.tag-editor-colors-container {
    width: 100%;
    height: fit-content;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: flex-start;
    gap: 5px;
}

#tag-editor-name {
    text-shadow: 1px 1px rgba(68, 68, 68, 0.5);
}

.btn-select-color {
    display: inline-block;
    cursor: pointer;
    height: 20px;
}

.btn-select-color>input[type=radio] {
    display: none;
    width: 0px;
    height: 0px;
}

.btn-select-color>label {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.btn-select-color>input[type=radio]:checked+label {
    border: 2px solid white;
}